
.bigCounter{
    text-align: center;
    background: black;
}
.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: rgb(10,10,10);
    color: white;
    padding: 10px;
    margin: 3px;
}